.header-section{
    padding: 20px 0px;
    text-align: center;
    background-color: skyblue;
}
.header-section a{
    text-decoration: none;
    margin-right: 10px;
    padding: 8px 12px;
    box-shadow: 5px 5px 10px steelblue;
}